#header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  width: 100%;
  position: fixed;
  height: 80px;
  z-index: 1;
}

#logo {
  display: flex;
  padding-left: 30px;
  align-items: center;
  flex-grow: 1;
}

#logo span {
  color: MediumAquamarine;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  padding-left: 10px;
}


#menu {
padding-right: 30px;

}

nav span {
  display: inline-block;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;

}

nav a {
  color: black;
  padding: 10px;
}

.main {
  padding-top: 120px;
  display:flex;
  align-content: space-between;
}

.text-content {
    height: 250px;
}
.large {
  width: 630px;
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

.medium {
  width: 300px;

margin-right: 32px;
}

.small {
  width: 240px;

margin-right: 32px;
}

.lead-story {

}

.lead-story-title {

border: 1px solid black;



}

.lead-story-image {
background-image: url(../images/img-story-main.png);
  display: flex;
  font-family: Georgia;
    font-weight: bold;
    font-size: 40px;
    color: white;
    flex-grow: 1;
    height: 300px;


}

.story-image {
  font-family: Georgia;
    font-weight: bold;
    font-size: 30px;
    color: white;
}

.earth-spins {
  background-image: url(../images/img-story-2.png);
  height: 300px;
}

.research-shows {
  background-image: url(../images/img-story-3.png);
  height: 300px;
}

.cats-control {
  background-image: url(../images/img-story-1.png);
  height: 300px;
}
.story {

  display: flex;
flex-direction: column;
width: 300px;

}

.story-title {

}

.stories {
display: flex;
justify-content: space-between;
}

.story-content {

}

.story-footer {

font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}
