#header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  width: 100%;
  position: fixed;
  height: 80px;
  z-index: 1;

}

#logo {
  display: flex;
  padding-left: 30px;
  align-items: center;
  flex-grow: 1;
}

#logo span {
  color: MediumAquamarine;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  padding-left: 10px;
}


#menu {
padding-right: 30px;

}

nav span {
  display: inline-block;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;

}

nav a {
  color: black;
  padding: 10px;
}

.main {
  padding-top: 120px;
  border: 1px solid black;
  display:flex;
  align-content: space-between;
}
.large {
  width: 630px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

.medium {
  width: 300px;
  border: 1px solid black;
margin-right: 32px;
}

.small {
  width: 240px;
  border: 1px solid black;
margin-right: 32px;
}


.lead-story-title {
border: 1px solid black;
}

.story {
  border: 1px solid black;
}

.story-title {
  border: 1px solid black;
}

.stories {

}

.story-content {

}

.story-footer {
border: 1px solid black;
}
